@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	:root {
		color-scheme: dark light;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		@apply text-white;
		@apply bg-gray-900;
		@apply min-h-screen;
		@apply h-full;

		margin: 0 auto;
	}
}
